#search-cont {
  display: flex;
}

#search-input {
  border: 2px solid black;
  border-radius: 25px;
  padding: 5px 10px;
}

#search-submit {
  background-color: transparent;
  border: none;
  font-size: 20px;
  align-self: center;
  position: relative;
  right: 45px;
}

/* #search-submit:focus {
  outline: none;
  border-radius: 100%;
  border: solid rgb(94, 158, 214) 2px;
} */

.item-img {
  width: 250px;
}

.item-info {
  width: 250px;
  padding: 10px 20px;
  text-align: center;
}

.item-og-price {
  text-decoration: line-through;
  color: grey;
}

/* PAGINATION */
#pagination-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  
}

#pagination-cont>div {
  text-align: center;
  width: 40px;
  height: 20px;
  
}

#page-number {
  margin: 0;
  height: 100%;
  width: 100%;
}